VITE_SUPABASE_URL=https://dajwfzsuznurzlqotcbn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRhandmenN1em51cnpscW90Y2JuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ0NDYzNzYsImV4cCI6MjEwMDAyMjM3Nn0.b_uupfaR5sbJTUb8H3lhyHcKT7Xl8Gp3-K_yJW5NgWY
